/*Menu de navegação*/
.menu-vertical{
    width: 200px;
    height: 100vh; /*Tamanho da janela*/
    position: fixed;
    background-color: #002480;
    padding-top: 40px; /*Espaço entre o topo da tela*/
}
#perfilcirculo{
  background-color: #ddd;
  border-radius: 50%; /*Deixa a imagem circular*/
  height: 150px;
  object-fit: cover; /*Corta a imagem para caber no círculo*/
  width: 150px;
  margin: 0 auto; /*Centraliza a imagem*/
}
#imagemperfil{
  text-align: center; /*Centraliza a imagem*/
}
#nome-logo{
    color:#65a3ff; /*Cor do texto quando passar o mouse*/
    text-align: center; /*Centraliza o texto*/
    font-size: 20px;
}

.menu-vertical a{ /*Estilizando os links do Menu*/
    display:block;
    color: white;
    padding:15px;
    text-decoration: none;
}
.nav-item:hover{
    color:#65a3ff; /*Cor do texto quando passar o mouse*/
    background-color: #0f2764; /*Cor de fundo quando passar o mouse*/
    border: 2px solid;
}

/*Estilização de Texto*/
h1{
  text-align: center;  
}
p{
    text-align: center; 
    font-size: 15px; 
}

/*Carrosel de imagens*/
#carrossel-Slides{
    width: 70%;
    margin: auto;
}

hr{
    width: 80%;
    background-color: rgb(35, 0, 117);
}

/*Estilização da página em si*/
#pagina{
   margin-left: 20%;
    padding: 20px; /*Espaçamento interno*/
}
body{
    padding: 15px;
}
#botao-pagina-inicial{
    margin: 0 auto;
}